{% extends "layout.html" %}

{% block title %}
Student See Requests
{% endblock %}

{% block main %}
    <form action="{{ url_for('viewrequests_s') }}" method="get">
            <fieldset>
                <table style="width:100%">
                    <tr>
                        <th><h1>Waiting Problems:</h1></th>
                        <th><h1>Wait Time:</h1></th>
                    </tr>
                    {% for dict in result %}
                    <tr>
                        <td><h2>{{dict['problem']}}</h2></td>
                        <td><h2>{{dict['difference']}}</h2></td>
                    </tr>
                    {% endfor %}
                </table>
            </fieldset>
    </form>
{% endblock %}

