{% extends "layout.html" %}
<div id="grad1">
{% block title %}
Student See Requests
{% endblock %}

{% block body %}

    <h1>Current Requests</h1>
        <form action="{{ url_for('viewrequests_s') }}" method="get">
                <fieldset>
                    <table style="width:100%">
                        <tr>
                            <th>Problem</th>
                            <th>Wait Time</th>
                        </tr>
                        {% for dict in result %}
                        <tr>
                                <td>{{dict['problem']}}</td>
                                <td>{{dict['time_submitted']}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Current Wait Time: {{total_wait}}</th>
                        </tr>
                    </table>
                </fieldset>
        </form>
</div>
{% endblock %}

